* {
  box-sizing: border-box;
}

body {
  background-color: #151515;
  background-repeat: no-repeat;
  color: white;
  font-family: sans-serif;
  margin: 0;
  height: 900px;
}

.content {
  padding: 0 40px;
}

.main-header {
  font-size: 50px;
  color: #fcd656;
  margin-left: 35px;
}

.form-block {
  padding: 40px;
  font-size: 20px;
}

.search {
  margin-right: 25px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 8px;
}

.search:focus {
  background-color: #ffffca;
}

.form-selectors-buttons {
  padding-top: 10px;
}

.toggleButton {
  background-color: white;
  color: black;
  padding: 16px;
  border: none;
}

.search-button {
  margin-left: 10px;
  padding: 8px;
}

.toggleButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.toggleButtonActive {
  background-color: #fcd656;
}

.flightNavigation {
  margin-top: 32px;
  margin-bottom: 32px;
}

.flight-main-block {
  font-size: 20px;
}

.flight-block {
  display: flex;
  flex: 2;
  border-bottom: 1px solid #333;
}

.flight-block:first-child {
  border-top: 1px solid #333;
}

.flight-block:hover {
  background-color: #222;
  color: #fcd656;
}

.flight-block div:nth-child(even) {
  color: #6594c5;
}

.flight-table-cell {
  flex: 2;
  padding: 10px;
}
