* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #151515;
  background-repeat: no-repeat;
  color: white;
  font-family: sans-serif;
  margin: 0;
  height: 900px;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 3px solid #fcd656;
  border-right: 3px solid transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  font-size: 50px;
  color: #fcd656;
  margin-left: 62px;
  margin-bottom: 20px;
}

.form-block {
  width: 50%;
  padding: 24px;
  font-size: 20px;
  display: inline-block;
}

.search {
  margin-right: 25px;
  padding: 6px;
  width: 334px;
}

.search::-webkit-input-placeholder {
  color: #6594c5;
  font-size: 22px;
}

.search:-moz-placeholder {
  color: #6594c5;
  font-size: 22px;
}

.search:focus {
  background-color: #ffffca;
}

.search:focus::-webkit-input-placeholder {
  color: #ffffca;
}

.search:focus:focus:-moz-placeholder {
  color: #ffffca;
}

.form-selectors-buttons {
  padding-top: 10px;
}

.toggleButton {
  background-color: white;
  color: black;
  padding: 16px;
  border: none;
}

.toggleButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.toggleButtonActive {
  background-color: #fcd656;
}

.flightNavigation {
  margin-top: 32px;
  margin-bottom: 18px;
}

.clock-block {
  display: flex;
  width: 50%;
  padding: 24px;
  margin-bottom: 15px;
  justify-content: space-around;
}

.loading {
  font-size: 20px;
  text-align: center;
}

.flight-main-block {
  font-size: 20px;
}

.flight-block {
  display: flex;
  flex: 2;
  border-bottom: 1px solid #333;
}

.flight-block:first-child {
  border-top: 1px solid #333;
}

.flight-block:hover {
  background-color: #222;
  color: #fcd656;
}

.flight-block div:nth-child(even) {
  color: #6594c5;
}

.flight-table-cell {
  flex: 2;
  padding: 10px;
}

.time-range {
  padding: 10px;
  color: #fcd656;
  border-bottom: 1px solid #333;
  font-size: 25px;
  font-weight: bold;
}
